/* Love fonts (can download many fonts from this sites for free.) */

@font-face {
    font-family: haunted;
    src: url(./Another\ Danger\ Slanted\ -\ Demo.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

h1{
    color: yellow;
    background-color:rgb(208, 93, 16);
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: oblique;
    text-align: center;
    text-transform: capitalize;
}

#hero{
    color: rgb(240, 9, 9);
    background-color: rgb(0, 0, 0);
    font-style: normal;
}

.harsh{
    font-family:haunted;
}

.box{
    color: blueviolet;
    height: 100px;
    width: 100px;
    background-color: chocolate;
}