@font-face {
    font-family: haunted;
    src: url(./Another\ Danger\ Slanted\ -\ Demo.otf);
}

html,body{
    background-image: url(https://images.unsplash.com/photo-1481018085669-2bc6e4f00eed?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
    color: rgb(57, 7, 7);
    font-family: haunted;
    font-size: 100px;
    padding-left: 450px;
   
}
button{
    height: 50px;
    margin-left: 850px;
    margin-top: 20px;
    color: black;
    background-color: transparent;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

