*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(18, 77, 77);
}

#main{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow: auto;
}
#card{
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(168, 227, 222);
    border-radius: 20px;
    margin: 20px;
    box-shadow: 10px 10px 30px rgb(47, 51, 51);
    flex-shrink: 0;
}
/* #card:hover{
    height: 410px;
    width: 310px;
    transition-duration: 50ms;
    transition: all;
} */
#card img{
    height: 200px;
    width:200px;
    border-radius: 50%;
    
}
button{
    margin: 10px;
    background-color: rgb(51, 189, 214);
    font-size: 20px;
    border: 1px solid seagreen;
    border-radius: 10px;
    padding: 10px;
}
button:hover{
    color: rgb(25, 115, 145);
    border: 2px solid seagreen;
    cursor:pointer;
    background-color: transparent;
}
h2{
    font-size: 30px;
    margin:20px;
}
h4{
    font-size: 20px;
}