* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mona Sans", sans-serif;
  color: #060318;
}

html,
body {
  height: 100%;
  width: 100%;
}
.nav-tab {
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;

  #left-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;

        h2{
            font-family: "Pacifico", cursive;
            transform: rotate(-5deg);
            font-weight: 200;
            font-size: 24px;
            cursor: pointer;
       }
        h2:hover {
            color: #060318ad;
        }
        a {
          text-decoration: none;
          font-weight: 500;
          font-size: 15px;
        }
        a:hover{
            color: #060318ad;
        }
        #link{
            display: flex;
            gap: 20px;
        }
    }
    #right-nav {
     display: flex;
     align-items: center;
     gap: 10px;

    }
}
#right-nav button {
  font-weight: 600;
  font-size: 14px;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  border-radius: 60px;
}

#sign-up button {
  background-color: white;
}

#sign-up button:hover {
  color: #060318ad;
}

#log-in button {
  background-color: #060318;
  color: white;
}

#log-in button:hover {
  background-color: #34314c;
}
.view1{
    display: flex;
    padding-right: 5rem;
    flex-direction: row;
    .left-view1{
        display: flex;
        width: 100%;
        height: 100%;
        padding: 4rem;
        
        .heading-view1{
            h1{
                font-size: 48px;
                width: 580px;
                text-align: left;
                font-weight: 600;
                font-family: "Mona Sans", sans-serif;
                line-height: 1.02;
            }
            p{
                margin-top: 20px;
                font-size: 18px;
                font-weight: 350;
                width: 480px;
                font-family: "Mona Sans", sans-serif;
                line-height: 1.5;
            }
            .view1-button{
                display: flex;
                gap: 20px;
                margin-top: 40px;
                button{
                    padding: 14px 24px;
                    font-size: 14px;
                    font-weight: 600;
                    border: none;
                    border-radius: 60px;
                    cursor: pointer;
                }
                #but i{
                    background-color: #060318d3;
                    color: white;
                }
                #but1{
                    button{
                        background-color: #060318d3;
                        color: white;
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
                #but2,#but3{
                    button{
                        background-color: white;
                    }
                }
                #but2 button:hover,
                #but3 button:hover{
                    background-color: #f0f0f0d6;
                }
                .ri-image-line{
                    color: white;
                }
            }
            .search-box{
                border: 3px solid transparent;
                border-radius: 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #f3f3f6;
                width: 55rem;
                height: 3.5rem;
                justify-content: space-between;
                margin-top: 1rem;

                .search-text{
                    font-size: 1rem;
                    margin-left: 1rem;
                    margin-bottom:1rem;
                    color: #3a3546;
                    font-weight: 100;
                }
                .search-icon{
                    height: 2.5rem;
                    width: 2.5rem;
                    background-color: #ea4c89;
                    border-radius: 50%;
                    margin: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i{
                        color: #ffffff;
                        font-size: 20px;
                    }
                }
                .search-icon:hover{
                    background-color: #ea4c89c6;
                    cursor: pointer;
                }
            }
            .search-box:hover{
                border-color: #FAEBF9;
                background-color: white;
            }
            .bot-button{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-top: 30px;
                align-items: center;
                width: 100%;

                button{
                    padding: 8px 16px;
                    font-size: 12px;
                    color: #060318;
                    border: none;
                    border-radius: 20px;
                    background-color: #ffffff;
                    border: 1.5px solid #f3f3f6;
                    cursor: pointer;
                }
                button:hover{
                    background-color: #f0f0f0b9;
                }
            }

        }
    }
    .right-view1{
        width: 60%;
        .right-vid{
            width: 100%;
            video{
                width: 100%;
                height: 100%;
                border-radius: 30px;
                object-fit: cover;
                margin-right: 23px;
            }

        }
    }
                
}
.banner {
  margin-left: 4rem;
  border-radius: 20px;
  background-color: #f0f2f7;
  width: 92%;
  padding: 1.8rem 1rem;

    .banner-main {
        background-color: white;
        color: #060318;
        padding: 1rem;
        border-radius: 30px;
        font-weight: 700;
        font-size: 14px;
        position: relative;
    }
    .banner-new {
        background-color: #ea4c89;
        color: white;
        font-size: 0.7rem;
        padding: 0.1rem 0.4rem;
        border-radius: 12px;
        font-weight: 600;
        position: absolute;
        margin-top: -1.3rem;
        left: 9.5rem;
    }
    .banner-text {
        font-size: 0.9rem;
        margin-left: 1rem;
    }
    .banner-main i {
        color: #664cea;
    }
}
.filters-bar {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-top: 3rem;
  width: 95%;
  justify-content: space-between;
  font-size: 14px;
  padding-left: 4rem;

  .follow{
    border: 0.1rem solid #EAEAEB;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 400;
  }

  .filter-options {
        display: flex;
        align-items: center;
        gap: 45px;
        font-weight: 500;
        .discover{
            padding: 0.5rem 0.9rem;
            background-color:#F5F3F1;
            font-size: 1rem;
            border-radius: 2rem;
        }
    }
    .filter{
        border: 0.1rem solid #DBDBDE;
        padding: 0.5rem 0.9rem;
        font-size: 0.8rem;
        border-radius: 2rem;
    }
}