* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mona Sans", sans-serif;
  color: #060318;
}

html,
body {
  height: 100%;
  width: 100%;
}

.nav-tab {
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
}
.nav-tab #left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.nav-tab #left-nav h2 {
  font-family: "Pacifico", cursive;
  transform: rotate(-5deg);
  font-weight: 200;
  font-size: 24px;
  cursor: pointer;
}
.nav-tab #left-nav h2:hover {
  color: rgba(6, 3, 24, 0.6784313725);
}
.nav-tab #left-nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}
.nav-tab #left-nav a:hover {
  color: rgba(6, 3, 24, 0.6784313725);
}
.nav-tab #left-nav #link {
  display: flex;
  gap: 20px;
}
.nav-tab #right-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

#right-nav button {
  font-weight: 600;
  font-size: 14px;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  border-radius: 60px;
}

#sign-up button {
  background-color: white;
}

#sign-up button:hover {
  color: rgba(6, 3, 24, 0.6784313725);
}

#log-in button {
  background-color: #060318;
  color: white;
}

#log-in button:hover {
  background-color: #34314c;
}

.view1 {
  display: flex;
  padding-right: 5rem;
  flex-direction: row;
  margin: 0;
}
.view1 .left-view1 {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4rem;
}
.view1 .left-view1 .heading-view1 h1 {
  font-size: 48px;
  width: 580px;
  text-align: left;
  font-weight: 600;
  font-family: "Mona Sans", sans-serif;
  line-height: 1.02;
}
.view1 .left-view1 .heading-view1 p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 350;
  width: 480px;
  font-family: "Mona Sans", sans-serif;
  line-height: 1.5;
}
.view1 .left-view1 .heading-view1 .view1-button {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.view1 .left-view1 .heading-view1 .view1-button button {
  padding: 14px 24px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}
.view1 .left-view1 .heading-view1 .view1-button #but i {
  background-color: rgba(6, 3, 24, 0.8274509804);
  color: white;
}
.view1 .left-view1 .heading-view1 .view1-button #but1 button {
  background-color: rgba(6, 3, 24, 0.8274509804);
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.view1 .left-view1 .heading-view1 .view1-button #but2 button, .view1 .left-view1 .heading-view1 .view1-button #but3 button {
  background-color: white;
}
.view1 .left-view1 .heading-view1 .view1-button #but2 button:hover,
.view1 .left-view1 .heading-view1 .view1-button #but3 button:hover {
  background-color: rgba(240, 240, 240, 0.8392156863);
}
.view1 .left-view1 .heading-view1 .view1-button .ri-image-line {
  color: white;
}
.view1 .left-view1 .heading-view1 .search-box {
  border: 3px solid transparent;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f3f3f6;
  width: 55rem;
  height: 3.5rem;
  justify-content: space-between;
  margin-top: 1rem;
}
.view1 .left-view1 .heading-view1 .search-box .search-text {
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: #3a3546;
  font-weight: 100;
}
.view1 .left-view1 .heading-view1 .search-box .search-icon {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ea4c89;
  border-radius: 50%;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view1 .left-view1 .heading-view1 .search-box .search-icon i {
  color: #ffffff;
  font-size: 20px;
}
.view1 .left-view1 .heading-view1 .search-box .search-icon:hover {
  background-color: rgba(234, 76, 137, 0.7764705882);
  cursor: pointer;
}
.view1 .left-view1 .heading-view1 .search-box:hover {
  border-color: #FAEBF9;
  background-color: white;
}
.view1 .left-view1 .heading-view1 .search-button {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  align-items: center;
  width: 100%;
}
.view1 .left-view1 .heading-view1 .search-button button {
  padding: 0.4rem 1rem;
  font-size: 12px;
  color: #060318;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1.5px solid #f3f3f6;
  cursor: pointer;
}
.view1 .left-view1 .heading-view1 .search-button button:hover {
  background-color: rgba(240, 240, 240, 0.7254901961);
}
.view1 .right-view1 {
  width: 60%;
}
.view1 .right-view1 .right-vid {
  width: 100%;
}
.view1 .right-view1 .right-vid video {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 23px;
}

.banner {
  margin-left: 4rem;
  border-radius: 20px;
  background-color: #f0f2f7;
  width: 92%;
  padding: 1.8rem;
}
.banner .banner-main {
  background-color: white;
  color: #060318;
  padding: 1rem;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  position: relative;
}
.banner .banner-new {
  background-color: #ea4c89;
  color: white;
  font-size: 0.7rem;
  padding: 0.1rem 0.4rem;
  border-radius: 12px;
  font-weight: 600;
  position: absolute;
  margin-top: -1.3rem;
  left: 9.5rem;
}
.banner .banner-text {
  font-size: 0.9rem;
  margin-left: 1rem;
}
.banner .banner-main i {
  color: #664cea;
}

.filters-bar {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-top: 3rem;
  width: 95%;
  justify-content: space-between;
  font-size: 14px;
  padding-left: 4rem;
}
.filters-bar .follow {
  border: 0.1rem solid #EAEAEB;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 400;
}
.filters-bar .follow:hover {
  cursor: pointer;
}
.filters-bar .filter-options {
  display: flex;
  align-items: center;
  gap: 45px;
  font-weight: 600;
}
.filters-bar .filter-options .discover {
  padding: 0.5rem 0.9rem;
  background-color: #F5F3F1;
  font-size: 1rem;
  border-radius: 2rem;
}
.filters-bar .filter-options .discover:hover {
  cursor: pointer;
}
.filters-bar .filter {
  border: 0.1rem solid #DBDBDE;
  padding: 0.5rem 0.9rem;
  font-size: 0.8rem;
  border-radius: 2rem;
}
.filters-bar .filter-options p:hover {
  opacity: 0.5;
  cursor: pointer;
}

.content {
  display: grid;
  flex-shrink: 0;
  flex-wrap: nowrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
  width: 100%;
  padding: 2rem 4rem;
}
.content .cards {
  height: 20rem;
  width: 23.5rem;
  display: flex;
  flex-direction: column;
  transition: all ease 0.5sec;
  flex-shrink: 0;
}
.content .cards .card {
  height: 90%;
  width: 100%;
  position: relative;
}
.content .cards .card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.content .cards .card video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.6s ease;
  border-radius: 10px;
  opacity: 0;
}
.content .cards .card video:hover {
  opacity: 1;
}
.content .cards .card .bottom {
  display: none;
}
.content .cards .card:hover {
  cursor: pointer;
}
.content .cards .card:hover .bottom {
  height: 40%;
  width: 100%;
  position: absolute;
  bottom: 0;
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(6, 3, 24, 0) 40%, rgba(6, 3, 24, 0.18) 60%, rgba(6, 3, 24, 0.32) 80%, rgba(6, 3, 24, 0.45) 100%);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.content .cards .card:hover .bottom .heading {
  color: #fff;
  text-shadow: 0 1px 3px rgba(6, 3, 24, 0.35);
  font-weight: 500;
  font-size: 1rem;
}
.content .cards .card:hover .bottom .ri-bookmark-line {
  background-color: white;
  padding: 0.8rem;
  border-radius: 50%;
  margin-right: 0.6rem;
}
.content .cards .card:hover .bottom .ri-heart-3-line {
  background-color: white;
  padding: 0.8rem;
  border-radius: 50%;
}
.content .cards .card-info {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2rem;
}
.content .cards .card-info .left {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  justify-content: center;
}
.content .cards .card-info .left img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
.content .cards .card-info .left .tag {
  color: white;
  background-color: rgba(194, 194, 203, 0.8666666667);
  font-size: 0.5rem;
  height: 1rem;
  width: 1.8rem;
  margin-top: 0.25rem;
  border-radius: 15%;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .cards .card-info .left .tag:hover {
  background-color: black;
  cursor: pointer;
}
.content .cards .card-info .right {
  opacity: 0.7;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.content .cards .card-info .right .ri-heart-fill {
  color: #9E9EA7;
}
.content .cards .card-info .right .ri-heart-fill:hover {
  color: palevioletred;
  cursor: pointer;
}
.content .cards .card-info .right .ri-eye-fill {
  color: #9E9EA7;
}/*# sourceMappingURL=style.css.map */