*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;  
}
#heading1{
    text-align: center;
    font-size: 30px;
    margin: 10px;
}
#heading2{
    text-align: center;
    font-size: 30px;
    margin: 10px;
}
#heading3{
     text-align: center;
    font-size: 30px;
    margin: 10px;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 35% ;
    grid-template-areas: "header header header"
                          "section section section"
                          "div1 div2 div3"
    ;       
    grid-gap: 30px;
    border: 5px solid black; 
    padding: 10px;  
header{
    background-color: crimson;
    grid-area: header;
    color: white;
    border: 3px solid white;
}
section{
    background-color: aqua;
    grid-area: section;
    color: white;
    border: 3px solid white;
}
#div1{
    background-color: lightseagreen;
    grid-area: div1;
    color: white;
    border: 3px solid white;
}
#div2{
    background-color: rgb(2, 47, 32);
    color: white;
    border: 3px solid white;
}

#div3{
    background-color: darkgreen;
    color: white;
    border: 3px solid white;
}       
}

#main1{
    height: 100%;
    width: 100%;
    background-color: white;
    display:grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 10% 20% 1fr;
    grid-template-areas: "header header"
                         "aside section"
                         "figure figure"
    ;
    grid-gap: 20px;
    margin-top: 50px;
    border: 5px solid black;
    padding: 1px;
    #header{
    background-color: yellow;
    grid-area: header;
    border: 3px black solid;
}
#aside{
    background-color: red;
    grid-area: aside;
    border: 3px black solid;
}
#section{
    background-color: orange;
    grid-area: section;
    border: 3px black solid;
}
#figure{
    background-color: rgb(19, 225, 84);
    grid-area: figure;
    border: 3px black solid;
}
}

#main2{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 2fr 1fr 1fr;
    grid-template-areas: "header1 header1 header1"
                          "section1 section1 section1"
                          "divleft bottomup divright"
                          "divleft bottomdown divright";
    grid-gap: 20px;
    margin-top: 50px;
    padding: 10px;

    @mixin flexcenter(){
        display: flex;
        align-items: center;
        justify-content: center;
    }

#header1{
    background-color: rgba(110, 46, 46, 0.59);
    grid-area: header1;
    border: 2px solid white;
    color: white;
    @include flexcenter();
    font-size: 40px;
    border-radius: 20px;
    box-shadow: 8px 10px 30px rgb(227, 213, 213);
    transition: all ease 0.5s;
}
#header1:hover{
    background-color: bisque;
    color: black;
}


#section1{
    background-color: darkgreen;
    grid-area: section1;
    border: 2px solid white;
    color: white;
    @include flexcenter();
    font-size: 100px;
    border-radius: 20px;
    box-shadow: 8px 10px 30px rgb(227, 213, 213);
    transition: all ease 0.5s;
}
#section1:hover{
    background-color: lightgreen;
    color: green;
}


#divleft{
    background-color: rgb(63, 34, 17);
    grid-area: divleft;
    border: 2px solid white;
    color: white;
    @include flexcenter();
    font-size: 80px;
    border-radius: 20px;
    box-shadow: 8px 10px 30px rgb(227, 213, 213);
    transition: all ease 0.5s;
}
#divleft:hover{
    background-color: rgba(150, 102, 93, 0.85);
    color: rgba(93, 56, 39, 0.868);
}


#divright{
    background-color: rgb(44, 77, 134);
    grid-area: divright;
    border: 2px solid white;
    color: white;
    @include flexcenter();
    font-size: 80px;
    border-radius: 20px;
    box-shadow: 8px 10px 30px rgb(227, 213, 213);
    transition: all ease 0.5s;
}
#divright:hover{
    background-color: rgb(107, 142, 203);
    color:rgb(25, 44, 77)    
}


#bottomup{
    background-color: rgb(210, 125, 40);
    grid-area: bottomup;
    border: 2px solid white;
    color: white;
    @include flexcenter();
    font-size: 50px;
    border-radius: 20px;
    box-shadow: 8px 10px 30px rgb(227, 213, 213);
    transition: all ease 0.5s;
}
#bottomup:hover{
    background-color: rgb(202, 145, 88);
    color: rgb(131, 94, 57);
}

#bottomdown{
    background-color: rgb(194, 114, 16);
    grid-area: bottomdown;
    border: 2px solid white;
    color: white;
    @include flexcenter();
    font-size: 50px;
    border-radius: 20px;
    box-shadow: 8px 10px 30px rgb(227, 213, 213);
    transition: all ease 0.5s;
}
#bottomdown:hover{
    background-color: rgb(202, 145, 88);
    color: rgb(131, 94, 57);
}
}