*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "halvatica";
}
html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: "halvatica";
    src: url(./HelveticaNowDisplay-Light.ttf);
}
#main {
  height: 100%;
  width: 100%;
}
#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  position: relative;
}
.navleft,
.navright {
  display: flex;
  gap: 20px;
}
.navcenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.navcenter h2 {
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
#nav a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}

#main>h1{
    font-size: 370px;
    font-weight: 50;
    padding-left: 75px;
}

#btmleft{
    position: absolute;
    width: 300px;
    left: 3%;
    bottom: 10%;
}

#btmleft h4{
    margin-top: 30px;
    font-size: 20px;
}

#btmleft h3{
    font-size: 30px;
    font-weight: 100;
}

#btmleft p{
    font-size: 18px;
    margin-top: 5px;
    font-weight: 60;
}

#bottombar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

#bottombar h1 {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

#bottombar a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    bottom: 0%;
    left: 0%;
}

#main>img{
    position: absolute;
}

#image1{
    height: 300px;
    left: 45%;
    top: 55%;
}
#image2{
    height: 300px;
    width: 250px;
    top: 70%;
    left: 55%;
}
#image3{
    height: 450px;
    top: 40%;
    left: 65%;
}