*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: halvatica;
}
html,body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: halvatica;
    src: url(./HelveticaNowDisplay-Light.ttf);
}

#main{
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
}

#nav a{
    text-decoration: none;
    color: Black;
    font-size: 25px;
    margin-right: 30px;
}

#nav{
    padding: 10px 30px;
}

#main>h1{
    font-size: 370px;
    font-weight: 50;
    padding-left: 75px;
}

#btmleft{
    position: absolute;
    width: 300px;
    left: 3%;
    bottom: 10%;
}

#btmleft h4{
    margin-top: 30px;
    font-size: 20px;
}

#btmleft h3{
    font-size: 30px;
    font-weight: 100;
}

#btmleft p{
    font-size: 18px;
    margin-top: 5px;
    font-weight: 60;
}

#bottombar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

#bottombar a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    bottom: 0%;
    left: 0%;
}

#main>img{
    position: absolute;
}

#image1{
    height: 300px;
    left: 45%;
    top: 55%;
}
#image2{
    height: 300px;
    width: 250px;
    top: 70%;
    left: 55%;
}
#image3{
    height: 450px;
    top: 40%;
    left: 65%;
}