* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(226, 221, 221);
}

body {
  background-color: #121212;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  gap: 1rem;
}
main section .top {
  width: 100%;
}
main section .top img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
main section .bottom {
  width: 100%;
  padding: 1rem;
  background-color: #1E1E1E;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
}
main section .bottom p {
  font-size: 1rem;
}
main section .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section .bottom .text h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 200;
}
main section .bottom .text p {
  font-size: 1.5rem;
  opacity: 0.6;
  font-weight: 100;
  line-height: 1.5;
}
main section .bottom .text button{
 width: fit-content;
 border: none;
 outline: none;
 padding: 0.7rem 1rem;
 border-radius: 0.5rem;
}
