*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(226, 221, 221);
}
body{
     background-color: #121212;
}
@mixin flex-coloumn($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main{
    width: 100%;
    
    @include flex-coloumn(0rem);

    @media (min-width:600px){

        main{
            flex-direction: row;
        }
    }

    section {
        width: 100%;
        @include flex-coloumn(1rem);
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 10px;
            }

        }

        .bottom {
            padding: 1rem;
            background-color: #1E1E1E;
            border-radius: 10px;
            @include flex-coloumn(1.5rem);
            .text {
                @include flex-coloumn(0.7rem);

                h1{
                    font-size: 2.5rem;
                    font-weight: 200;
                    text-transform: uppercase;
                }

                p{
                    font-size: o.9rem;
                }

                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }

}