@font-face {
  font-family: harsh;
  src: url(/Project8/font.woff);
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html, body {
  background-color: #121212;
  height: 100%;
  width: 100%;
}

body {
  padding: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-weight: 300;
  font-size: 1rem;
}
nav .logo {
  padding: 0.8rem;
  font-size: 1.5rem;
  font-weight: 100;
}
nav .options {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.4rem;
}
nav .options .cart {
  background-color: #1E1E1E;
  padding: 1rem;
  border-radius: 10px;
}
nav .options .cart .ri-creative-commons-zero-line {
  background-color: #CEBD63;
  border-radius: 50%;
  padding: 0.2rem;
  color: black;
}
nav .options .menu {
  background-color: #1E1E1E;
  font-size: 2rem;
  font-weight: 100;
  padding: 0.5rem;
  border-radius: 10px;
}

.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.view1 .upper {
  width: 100%;
  height: 27rem;
  background-image: url("image2.jpg");
  background-size: 170% 150%;
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.view1 .upper .content {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding-top: 6rem;
}
.view1 .upper .content h1 {
  font-size: 3rem;
  font-weight: 100;
  font-family: harsh;
  line-height: 1;
  opacity: 0.8;
}
.view1 .upper .content p {
  font-size: 1.4rem;
  font-weight: 200;
  opacity: 0.7;
  line-height: 1.4;
  word-spacing: 0.5rem;
}
.view1 .upper .learn-more {
  display: none;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 100;
  padding: 1rem;
  opacity: 0.8;
}
.view1 .upper .learn-more i {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 0.5rem;
}
.view1 .lower {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
.view1 .lower .ri-arrow-right-up-line {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 0.5px solid rgb(87, 86, 86);
  font-size: 1.5rem;
  padding: 0.3rem;
  background-color: #292929;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.view1 .lower .lowerup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view1 .lower .lowerup .div1 {
  width: 100%;
  background-color: #1E1E1E;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding-right: 3.2rem;
  transition: all ease 0.3s;
}
.view1 .lower .lowerup .div1 h1 {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: harsh;
  opacity: 0.9;
}
.view1 .lower .lowerup .div1 p {
  font-weight: 100;
  opacity: 0.6;
  line-height: 1.6;
}
.view1 .lower .lowerup .div1 h2 {
  font-size: 1rem;
  font-weight: 100;
  margin-top: 1.5rem;
}
.view1 .lower .lowerup .div2 {
  width: 100%;
  background-color: #1E1E1E;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding-right: 3.2rem;
  transition: all ease 0.3s;
}
.view1 .lower .lowerup .div2 h1 {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: harsh;
  opacity: 0.9;
}
.view1 .lower .lowerup .div2 p {
  font-weight: 100;
  opacity: 0.6;
  line-height: 1.6;
}
.view1 .lower .lowerup .div2 h2 {
  font-size: 1rem;
  font-weight: 100;
  margin-top: 1.5rem;
}
.view1 .lower .lowerup .div1:hover {
  background-color: #292929;
  cursor: pointer;
}
.view1 .lower .lowerup .div2:hover {
  background-color: #292929;
  cursor: pointer;
}
.view1 .lower .lowerbottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view1 .lower .lowerbottom .div3 {
  width: 100%;
  background-color: #1E1E1E;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding-right: 3.2rem;
  transition: all ease 0.3s;
}
.view1 .lower .lowerbottom .div3 h1 {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: harsh;
  opacity: 0.9;
}
.view1 .lower .lowerbottom .div3 p {
  font-weight: 100;
  opacity: 0.6;
  line-height: 1.6;
}
.view1 .lower .lowerbottom .div3 h2 {
  font-size: 1rem;
  font-weight: 100;
  margin-top: 1.5rem;
}
.view1 .lower .lowerbottom .div4 {
  width: 100%;
  background-color: #1E1E1E;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  padding-right: 3.2rem;
  transition: all ease 0.3s;
}
.view1 .lower .lowerbottom .div4 h1 {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: harsh;
  opacity: 0.9;
}
.view1 .lower .lowerbottom .div4 p {
  font-weight: 100;
  opacity: 0.6;
  line-height: 1.6;
}
.view1 .lower .lowerbottom .div4 h2 {
  font-size: 1rem;
  font-weight: 100;
  margin-top: 1.5rem;
}
.view1 .lower .lowerbottom .div3:hover {
  background-color: #292929;
  cursor: pointer;
}
.view1 .lower .lowerbottom .div4:hover {
  background-color: #292929;
  cursor: pointer;
}

.view2 {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;
}
.view2 .img1 {
  background-image: url("image1.webp");
  background-size: 100% 100%;
  width: 100%;
  height: 14em;
  border-radius: 10px;
}
.view2 .about {
  background-color: #1E1E1E;
  width: 100%;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
}
.view2 .about .about1 {
  font-size: 0.9rem;
  font-weight: 100;
}
.view2 .about h1 {
  font-size: 2.3rem;
  font-weight: 100;
  margin-top: 3rem;
  font-family: harsh;
}
.view2 .about p {
  opacity: 0.5;
  font-weight: 100;
  line-height: 1.5;
  width: 94%;
  word-spacing: 0.2rem;
}
.view2 .img2 {
  background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d4f8f8d353ff2654a07ebd_home-tabs-01-p-1600.webp);
  width: 100%;
  height: 16rem;
  background-size: 100% 100%;
  border-radius: 10px;
}

.tabs {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: harsh;
  gap: 1rem;
  margin-top: 1rem;
}
.tabs .tab1 {
  background-color: #1E1E1E;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 0.8;
}
.tabs .tab2 {
  background-color: #1E1E1E;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 0.8;
}
.tabs .tab3 {
  background-color: #1E1E1E;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 0.8;
}
.tabs .tab4 {
  background-color: #1E1E1E;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 0.8;
}
.tabs .ri-arrow-right-line {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 0.5px solid rgb(87, 86, 86);
  padding: 0.3rem;
  background-color: #292929;
  border-radius: 50%;
  margin-right: 0.5rem;
}/*# sourceMappingURL=style.css.map */