*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    background-color: #121212;
    height: 100%;
    width: 100%;
}
body{
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: 300;
    font-size: 1rem;

    .logo{
            padding: 0.8rem;
            font-size: 1.5rem;
            font-weight: 100;
        }
 
    .options{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 0.4rem;

        .cart{
            background-color: #1E1E1E;
            padding: 5%;
            border-radius: 10px;

            .ri-creative-commons-zero-line{
                background-color: #CEBD63;
                border-radius: 50%;
                padding: 0.2rem;
                color: black;

            }
        }
        .getintouch{
            background-color:#CEBD63 ;
            padding: 5%;
            color: black;
            border-radius: 10px;
        }
        .menu{
            background-color: #1E1E1E;
            font-size: 2rem;
            font-weight: 100;
            padding: 0.5rem;
            border-radius: 10px;

        }

    }
    

}

.view1{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    .upper{
        width: 100%;
        height: 32rem;
        background-image: url("image2.jpg");
        background-size: 120% 110%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content{
            padding: 2rem;
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 1.7rem;
            margin-top: 130px;
            h1{
                font-size: 3.2rem;
                font-weight: 200;
            }
            p{
                font-size: 1.4rem;
                font-weight: 200;
                opacity: 0.7;
                line-height: 1.4;
            }
            .section3{
                font-size: 0.9rem;
                font-weight: 200;                
                .ri-arrow-down-line{
                    padding: 7px;
                    font-size: 1.2rem;
                    backdrop-filter: blur(5px);
                    border-radius: 50%;
                    margin-right: 0.5rem;
                    border: 1px solid rgb(197, 195, 195);
                }
            }
        
        }

 
    }

}